@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Titan+One&display=swap')
@import 'colors.sass'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  overflow: hidden

body
  font-family: 'Titan One', sans-serif
  background: $main-color

button
  cursor: pointer
  border: none

#app
  display: flex
  justify-content: center
  padding: 18px
  width: 100vw
  height: 100vh
