@import 'base.sass'

.container
  display: flex
  flex-direction: column
  height: 100vh
  width: 100vw
  justify-content: center
  align-items: center

  #root
    position: relative
    width: 500px
    height: 500px
    background: #282828
    border-radius: 4px

    canvas
      border-radius: 4px
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  .action-buttons
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    margin-top: 20px
