@import 'base.sass'

.merge-game
  display: flex
  gap: 18px

  #root
    width: max-content
    height: max-content
    position: relative

    canvas
      border-radius: 12px

  @media (orientation: landscape)
    justify-content: flex-start
    align-self: start
    flex-direction: row-reverse

  @media (orientation: portrait)
    flex-direction: column
    align-self: center
    justify-content: center
    align-items: center
